#unscreen {
    position: absolute;
    top: 5px;
    left: 5px;
}

#exitFullScreenBtn {
    background-color: #1b1b1b;
    color: white;
    opacity: 0.95;
    font-size: 15px;
    border: none;
    border-radius: 100px;
    padding: 5px 15px;
    display: none;
}

#exitFullScreenBtn:active {
    opacity: 1;
    color: #1b1b1b;
    background-color: white;
}