body {
  background-color: #1a1a1a;
  color: white;
}
#top-nav {
  position: absolute;
  top:0;
  left:0;
  background-color: black;
  color: white;
  width: 100%;
  height:50px;
}

.navBtns {
  position: absolute;
  top: 5px;
  background-color: #6495ED;
  color: white;
  font-family: "verdana";
  font-size: 20px;
  padding: 5px 15px;
  border: 3px solid #6495ED;
  border-radius: 5px;
}

#gotoHome {
  position: absolute;
  left: 10px;
}

#gotoIncognito {
  position: absolute;
  left: 110px;
}